*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(61, 112, 112);
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5vw 1vw;
    border-radius: 1.2vw;
    border: 2px solid rgb(167, 167, 167);
}